@font-face {
	font-family: Games;
	src: url('/css/Fonts/Games.ttf');
}

.user {
	background: #02000C;
	display: flex;
	margin: auto;
	justify-content: center;
	width: 1032px;

}

.userscore {
	font-size: 80px;
	display: flex;
	color: #04D0D0;
}

.username {
	padding-left: 50px;
	font-size: 80px;
	color: #04D0D0;
}

body {
	font-family: Games;

}

html {
	background-image: url('/assets/bg.jpg'); 
	background-repeat: no-repeat;
	background-size: auto;
}

canvas {
	border:4px solid #000000;
	background-color: #FFCF6F;
	display: flex;
	margin: auto;
	margin-top: 90px;
	opacity: .9;
}

img {
	display: none;
}