@font-face {
	font-family: Games;
	src: url('./Fonts/Games.ttf');
}

.user {
	background: #02000C;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	margin-bottom: 0;
	justify-content: center;
	width: 900px;
	border: 5px solid grey;
	border-radius: 15px;
	color: #04D0D0;

}

.userscore {
	display: fixed;
	
}

.score {
	color: #04D0D0;
}

#startButton {
	border: none;
	cursor: pointer;
	font-family: Games;
	color: white;
	padding: 15px 40px;
	border-radius: 20px;
	font-size: 36px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	background: #DE003C;
	position: absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10;
}

/* doesnt work when button is centered*/
/* Ripple magic */
/*#startButton {
	position: relative;
	overflow: hidden;
	}*/

/*#startButton:after {
	content: "";
	position: relative;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
	background: rgba(255, 255, 255, 0.5);
	opacity: 0;
	border-radius: 100%;
	transform: scale(1, 1) translate(-50%);
	transform-origin: 50% 50%;
}
*/
@keyframes ripple {
	0% {
		transform: scale(0, 0);
		opacity: 1;
	}
	20% {
		transform: scale(25, 25);
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(40, 40);
	}
}

/*#startButton:focus:not(:active)::after {
	animation: ripple 1s ease-out;
}

#startButton:focus {outline:0;}*/

body {
	font-family: Games;
	font-size: 80px;
}

html {
	background-image: url('../assets/bg.jpg'); 
	background-repeat: no-repeat;
	background-size: auto;
}

canvas {
	border: 10px solid #000000;
	border-radius: 15px;
	background-image: url('../assets/sand.png');
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	display: block;
	display: relative;
	opacity: .95;
}

img {
	display: none;
}

#leftCurtain {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
	width: 1024px;
	height: 768px;
	border-style: solid;
	border-color: #202020;
	border-width: 10px;
	z-index: 9;
	background-color: black;
}

.gameArea {
	margin-top: 0;
	position: relative;
}
/*testing*/

.flipLeft {
	transition-duration: 0.5s;
	transform: rotateY(90deg) rotateX(90deg);

}
