@font-face {
	font-family: Games;
	src: url('./Fonts/Games.ttf');
}

.user {
	background: #02000C;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	margin-bottom: 0;
	justify-content: center;
	width: 900px;
	color: #04D0D0;
	border-color: #303030;
	border-style: solid;
	border-width: 10px 10px 0px 10px;
	border-radius: 15px 15px 0px 0px;
}

.userscore {
	display: fixed;
	
}

.score {
	color: #04D0D0;
}

.startButton {
	border: none;
	cursor: pointer;
	font-family: Games;
	color: white;
	padding: 15px 40px;
	border-radius: 20px;
	font-size: 36px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	background: #DE003C;
	
	z-index: 10;
}

#startButton1 {
	margin-top: 25px;
	display: block;
	z-index: 10;	
}

#startButtons {
	position: absolute;
	display: flex;
	flex-direction: column;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10;
}

body {
	font-family: Games;
	font-size: 80px;
	background-image: url('../assets/bg.jpg'); 
	background-repeat: no-repeat;
	background-size: 100% 100%
}

canvas {
	border: 10px solid #303030;
	border-radius: 15px;
	background-image: url('../assets/sand.png');
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	display: block;
	display: relative;
	opacity: .95;
}

img {
	display: none;
}

#leftCurtain {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
	width: 1024px;
	height: 768px;
	border-style: solid;
	border-color: #202020;
	border-width: 10px;
	z-index: 9;
	background-color: black;
}

.gameArea {
	margin-top: 0;
	position: relative;
}
/*testing*/

.flipLeft {
	transition-duration: 0.5s;
	transform: rotateY(90deg) rotateX(90deg);
}

#instruction {
	font-family: Games;
	color: white;
	font-size: 36px;
	z-index: 10;
	text-align: center;
	display: block;
	margin-top: 25px;
	border-style: dashed;
	border-width: 5px;
	border-color: white;
	padding: 10px;
}
